
.content{
    background-color: black;
  color: #fff;
  }
.buttons {
    display: flex;
    justify-content: space-around;
   

}
.content .container-fluid{
    padding: 1% 13% 2%;
}


.buttons button{

    border-radius: 8px;
}