.info {
  text-align: left;

  background-color: black;
  color: #fff;
}
.info .container-fluid {
  padding: 2% 14% 3%;
}
.info h3 {
  /* background: linear-gradient(to right, #fc466b, #3f5efb);
  background: linear-gradient(to right,#ff0095, #333399); */
  background: rgb(240, 5, 146);
  background: linear-gradient(90deg, rgb(252, 7, 154) 0%, rgb(126, 12, 65) 30%, rgb(157, 72, 255) 90%);

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.info_first {
  margin-bottom: 6%;
}
.info_first h3 {
  margin-bottom: 15px;
}
.info_first h1 {
  font-size: 3rem;
  margin-bottom: 2%;
}
